source ~/.config/nvim/init.vim
source ~/.config/nvim/plug.vim
source ~/.config/nvim/maps.vim

set clipboard+=unnamed
set idearefactormode=keep
set ideajoin
set surround
set easymotion

"------------------------------
" Extensions for EasyMotion 
let g:EasyMotion_override_acejump = 0
let g:EasyMotion_do_mapping= 0

"------------------------------
" EasyMotion Actions

" Find(Search) {char} forward and backward.
map <leader>f <Plug>(easymotion-s) 

"------------------------------
" Rider Actions

" Navigation
"map <leader>n <Action>(SearchEverywhere)
map sf <Action>(SearchEverywhere)
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(ReSharperGotoImplementation)

" Code editing
nmap <leader>cn <Action>(RenameElement)
nmap <leader>ge <Action>(Generate)

" Utilities
nmap <leader>/ <Action>(ShowErrorDescription)
map <leader>o <Action>(FileStructurePopup)
map <leader>rc <Action>(ReformatCode)
map <leader>a <Action>(ShowIntentionActions)
map <leader>ex <Action>(ActivateProjectToolWindow)
map <leader>d <Action>(Debug)

" Tabs
nmap <tab> <Action>(NextTab)
nmap <s-tab> <Action>(PreviousTab)
nmap <c-x> <Action>(CloseEditor)
nmap sw <Action>(EditSourceInNewWindow)

" Terminal
map <leader>t <Action>(Terminal.OpenInTerminal)
nmap <c-t> <Action>(ActivateTerminalToolWindow)
" Hide active tool window (terminal) - Ctrl+C

" Toggle distraction free mode
nmap <c-z> <Action>(ToggleDistractionFreeMode)

nnoremap <leader><leader> <C-Tab>
"map <leader><leader>t <Action>(MoveEditorToOppositeTabGroup)
"map <leader>n <Action>(GotoSymbol)
"nmap <leader>m <action>(Git.Menu)
"map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
"map <S-Space> <Action>(GotoNextError)

"TODO: Install and setup NERDTree
"https://www.youtube.com/watch?v=dwxi60ZGeTM
"set NERDTree
"let g:NERDTreeMapActivateNode='l'
"let g:NERDTreeMapJumpParent='h'
